body { margin:0;
}

.header {
    text-align: left;
    padding-top: 35px;
    margin-left: 600px;
}
.header h6 {
    font-style: italic;
    padding-bottom: 28px;
}

.content {
    margin-left: 600px;
}
